[submodule "packages/mqttclient-web"]
	path = packages/mqttclient-web
	url = https://github.com/Lucaszw/mqttclient-web
[submodule "packages/mqtt-messages-js"]
	path = packages/mqtt-messages-js
	url = https://github.com/Lucaszw/mqtt-messages-js
[submodule "packages/microdrop-async"]
	path = packages/microdrop-async
	url = https://github.com/Lucaszw/microdrop-async.git
[submodule "packages/route-inspector"]
	path = packages/route-inspector
	url = https://github.com/Lucaszw/route-inspector.git
[submodule "packages/device-ui-plugin"]
	path = packages/device-ui-plugin
	url = https://github.com/Lucaszw/device-ui-plugin.git
[submodule "packages/device-controller"]
	path = packages/device-controller
	url = https://github.com/Lucaszw/device-controller.git
[submodule "packages/protocol-ui-plugin"]
	path = packages/protocol-ui-plugin
	url = https://github.com/Lucaszw/protocol-ui-plugin.git
[submodule "packages/ui-plugin"]
	path = packages/ui-plugin
	url = https://github.com/Lucaszw/ui-plugin.git
